.venv/
venv/
env/
ENV/

# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints & autosave
.ipynb_checkpoints/
*.ipynb_autosave

# OS / Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Logs / temp
*.log
*.tmp
*.bak

# Virtual environment
.env

# Data & outputs
dataset/
models/
runs/

# Model
*.pt